<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Portfolio </title>
    <link rel="stylesheet" href="/stylesheets/myStyle.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/javascripts/jquery-3.3.1.min.js" type="test/javascript"></script>
</head>
<body>
<div class = "wrapper">
    <nav>
        <div>
            <a class="logo" href="#home"> <img src="../images/LogoWhite.png" alt="Logo" width="80px" height="80px"> </a>
        </div>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</div>
